<!DOCTYPE html>
<html>
  <head>
    <title>Face Card Interactive Demo</title>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript"
      src="/static/jpeg_camera_with_dependencies.min.js"></script>
    <script type="text/javascript" src="/static/cam.js"></script>
    <link href="/static/cam.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <img src="/static/Face Card.png">
    <div id="camera_info"></div>
    <div id="stream_stats"></div>

    <div id="camera">
      <div class="placeholder">
        Your browser does not support camera access.<br>
      </div>
    </div><br>

    <button id="take_snapshots" i class="fa fa-camera"></i>
    <button id="show_stream">Show stream</button><br>

    <div id="snapshots"></div>

    <button id="discard_snapshot" i class="fa fa-trash"></i>
    <button id="upload_snapshot" i  class="fa fa-upload"></i>
    <input type="hidden" id="api_url" value="http://localhost:3000/upload"><br>
    <img src="/static/loader.gif" id="loader">
    <div id="upload_status"></div>
    <div id="upload_result"></div><br>

  </body>
</html>
