<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>face space</title>
    <script src="cam/swfobject.min.js" type="text/javascript"></script>
    <script src="cam/canvas-to-blob.min.js" type="text/javascript"></script>
    <script src="cam/jpeg_camera.min.js" type="text/javascript"></script>
  </head>
  <body>
    <br>
    <div align="center">
      <h1>GoogleMaps API Transit Test</h1>
      <p>Find out the distance between locations!</p>
      <form action="/testGoogle" method="post">
        Your location: <input type="text" name="origin"><br>
        Destination: <input type="text" name="destination"><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
